table{

    width: 80%;
    border-collapse: collapse;
    
    
}
#portfolio{ 
    width: 80%;
    margin-right: 50px;

}
th, td {
    text-align: center;
}
    table img {
        width:350px;
        height:auto;
        
    }


