table{

    width: 100%;
    border-collapse: collapse;
    
}
#portfolio{ 
    width: 100%;
    margin-right: 80px;

}
th, td {
    text-align: center;
}
    table img {
        width: 300px;
        height: auto;
        
    }


